
<!-- Background Area Start -->
@await Component.InvokeAsync("Sliders")
<!-- Background Area End -->

<!-- Notice Start -->
<section class="notice-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left">
                    <h3>notice board</h3>
                    <div class="single-notice-left mb-25 pb-25">
                        <h4>5, June 2017</h4>
                        <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                    </div>
                    <div class="single-notice-left mb-25 pb-25">
                        <h4>4, June 2017</h4>
                        <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                    </div>
                    <div class="single-notice-left pb-75">
                        <h4>3, June 2017</h4>
                        <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                    </div>
                    <div class="single-notice-left mb-25 pb-25">
                        <h4>5, June 2017</h4>
                        <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                    </div>
                    <div class="single-notice-left mb-25 pb-25">
                        <h4>4, June 2017</h4>
                        <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                    </div>
                    <div class="single-notice-left pb-70">
                        <h4>3, June 2017</h4>
                        <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                    </div>
                    <div class="single-notice-left mb-25 pb-25">
                        <h4>5, June 2017</h4>
                        <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                    </div>
                    <div class="single-notice-left mb-25 pb-25">
                        <h4>4, June 2017</h4>
                        <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                    </div>
                    <div class="single-notice-left pb-70">
                        <h4>3, June 2017</h4>
                        <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right">
                    <div class="single-notice-right mb-25 pb-25">
                        <h3>PROFESSIONAL TEACHER</h3>
                        <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    </div>
                    <div class="single-notice-right mb-25 pb-25">
                        <h3>Online courses</h3>
                        <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    </div>
                    <div class="single-notice-right">
                        <h3>easy to addmission</h3>
                        <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->

<!-- Choose Start -->
<section class="choose-area pb-85 pt-77">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-left-4 col-sm-8 col-md-offset-left-4">
                <div class="choose-content text-left">
                    <h2>WHY YOU CHOOSE EDUHOME ?</h2>
                    <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder of humanit happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because. </p>
                    <p class="choose-option">I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder. </p>
                    <a class="default-btn" href="course-details.html">view courses</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choose Area End -->

<!-- Courses Area Start -->
@await Component.InvokeAsync("LatestCourses")
<!-- Courses Area End -->

<!-- Event Area Start -->
@await Component.InvokeAsync("UpcommingEvents")
<!-- Event Area End -->

<!-- Testimonial Area Start -->
@await Component.InvokeAsync("TestimonialSliders")
<!-- Testimonial Area End -->

<!-- Blog Area Start -->
@await Component.InvokeAsync("LatestBlogs")
<!-- Blog Area End -->